@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #212121;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: dark;

  background-color: var(--bg);
}

*,
*::before,
*::after {
  @apply p-0 m-0 box-border;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#3b3b3b] rounded;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}
